#privacy {
    background-image:url("../../../public/assets/images/black-background.jpg");
    background-size: 100% 100%;   
}
h1{
    margin-bottom: 15px;
    font-style: italic;
    font-weight: bold;
    
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p{
        opacity:.8
    }
    h1 {
        margin-bottom: 10px;
    }
}
h1 ,strong {
    font-style:italic;
    font-size: 1.2rem;
    text-decoration: underline;
    
}
p {
    margin-bottom: 10px;
}